@page "/NPCTool"

<h2>NPC Tool</h2>
<p></p>
<form method="post">
<div class="form-row">
       <div class="input-group mb-3">
           <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroup-sizing-default">Name:</span>
           </div>
           <input type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
       </div>
</div>
<div class="form-row">
       <p class="mr-6">Faction:</p>
       <div class="form-group">
           <select class="form-control">
               <option value="0">None</option>
               <option value="1">Neutral</option>
               <option value="2">Pirates</option>
               <option value="3">Privateers</option>
               <option value="4">Pillagers</option>
               <option value="5">Cartographers</option>
               <option value="6">Merchants</option>
               <option value="7">Biulders</option>
               <option value="8">Naturalists</option>
           </select>
       </div>
</div>
<div class="form-row">
       <p class="mr-6">Specialty:</p>
       <div class="form-group">
           <select class="form-control">
               <option value="0">None</option>
               <option value="1">Treasure</option>
               <option value="2">Adventurer</option>
               <option value="3">Merchant</option>
               <option value="4">Farmer</option>
               <option value="5">Crafter</option>
               <option value="6">SharpShooter</option>
               <option value="7">Fencer</option>
               <option value="8">Brawler</option>
			   <option value="7">Sailor</option>
               <option value="8">Cannoneer</option>
           </select>
       </div>
</div>
<div class="form-row">
       <div class="form-group">
           <div class="form-check">
               <label class="form-check-label">Has Trade Gossip:</label>
			   <input class="form-check-input" type="checkbox" value="">
           </div>
       </div>
   </div>
<div class="form-row">
       <div class="form-group">
           <div class="form-check">
               <label class="form-check-label">Has GoodBye:</label>
			   <input class="form-check-input" type="checkbox" value="">
           </div>
       </div>
   </div>
<div class="form-group">
       <div class="input-group">
           <div class="input-group-prepend">
               <span class="input-group-text">Reaction When Offered Gift:</span>
           </div>
           <textarea class="form-control" aria-label="With textarea"></textarea>
       </div>
</div>
<div class="form-group">
       <div class="input-group">
           <div class="input-group-prepend">
               <span class="input-group-text">Gift Liked:</span>
           </div>
           <textarea class="form-control" aria-label="With textarea"></textarea>
       </div>
</div>
<div class="form-group">
       <div class="input-group">
           <div class="input-group-prepend">
               <span class="input-group-text">Gift Not Liked:</span>
           </div>
           <textarea class="form-control" aria-label="With textarea"></textarea>
       </div>
</div>
<div class="form-group">
       <div class="input-group">
           <div class="input-group-prepend">
               <span class="input-group-text">Greeting Stranger:</span>
           </div>
           <textarea class="form-control" aria-label="With textarea"></textarea>
       </div>
</div>
<div class="form-group">
       <div class="input-group">
           <div class="input-group-prepend">
               <span class="input-group-text">Greeting Acquantance:</span>
           </div>
           <textarea class="form-control" aria-label="With textarea"></textarea>
       </div>
</div>
<div class="form-group">
       <div class="input-group">
           <div class="input-group-prepend">
               <span class="input-group-text">Greeting Casual Friend:</span>
           </div>
           <textarea class="form-control" aria-label="With textarea"></textarea>
       </div>
</div>
<div class="form-group">
       <div class="input-group">
           <div class="input-group-prepend">
               <span class="input-group-text">Greeting Close Friend:</span>
           </div>
           <textarea class="form-control" aria-label="With textarea"></textarea>
       </div>
</div>
<div class="form-group">
       <div class="input-group">
           <div class="input-group-prepend">
               <span class="input-group-text">Greeting Best Friend:</span>
           </div>
           <textarea class="form-control" aria-label="With textarea"></textarea>
       </div>
</div>
<div class="form-row">
       <p class="mr-6">In Game Sprite:</p>
       <div class="form-group">
           <select class="form-control">
               <option>blackbeard_1_0</option>
               <option>blacksmith_1_0</option>
               <option>blacksmith_2_0</option>
               <option>blacksmith_3_0</option>
               <option>blacksmith_4_0</option>
               <option>fatty_1_0</option>
               <option>feather_1_0</option>
               <option>fisherman_1_0</option>
               <option>gardener_1_0</option>
               <option>glasses_1_0</option>
               <option>gramps_1_0</option>
               <option>hammer_1_0</option>
               <option>headband_1_0</option>
               <option>item_shop_1_0</option>
               <option>item_shop_2_0</option>
               <option>item_shop_3_0</option>
               <option>item_shop_4_0</option>
               <option>mapper_1_0</option>
               <option>monocle_1_0</option>
               <option>parrot_1_0</option>
               <option>path_1_0</option>
               <option>pegleg_1_0</option>
               <option>seagull_1_0</option>
               <option>shipyard_1_0</option>
               <option>shipyard_2_0</option>
               <option>shipyard_3_0</option>
               <option>shipyard_4_0</option>
               <option>shroom_1_0</option>
               <option>shroom_2_0</option>
               <option>shroom_3_0</option>
               <option>shroom_4_0</option>
               <option>shroom_5_0</option>
               <option>shroom_6_0</option>
               <option>shroom_7_0</option>
               <option>shroom_8_0</option>
               <option>skullhat_1_0</option>
               <option>stripe_1_0</option>
               <option>vest_1_0</option>
           </select>
       </div>
   </div>
   <input class="btn btn-secondary" type="button" value="CREATE QUEST" />
<input class="btn btn-secondary" type="button" value="ADD" />
</form>